

spring:
  profiles:
    active: test

    redis:
      database: 0
      host: localhost
      port: 6379
      password:
      timeout: 5000
  datasource:
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

    druid:
      filters: stat,wall,slf4j,config
      max-active: 100
      initial-size: 1
      max-wait: 60000
      min-idle: 1
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: select 'x'
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 50
      max-pool-prepared-statement-per-connection-size: 20

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.demo.model


app:
  info: this is wap
  author: zhai
  email: 111111111@qq.com
  swaggerTitle: 这是我们的第一个swagger在线文档
  swaggerContactName: 翟晓猛
  swaggerContactWebUrl: https://www.baidu.com
  swaggerContactEmail: 982601770@qq.com
  swaggerVersion: v1.0.0
  swaggerDescription: springboot 在线接口文档
  swaggerTermsOfServiceUrl: https://www.baidu.com

logging:
  level:
    com.example.demo.dao : debug

pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql