<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserDao">

    <!-- 动态条件查询 -->
    <select id="getAllUser" parameterType="User" resultType="User">
        SELECT * FROM users
        <where>
            <if test=" id !=null and id !='' ">
                and id=#{id}
            </if>

            <if test=" userName !=null and userName !='' ">
                and userName=#{userName}
            </if>

            <if test=" password !=null and password !='' ">
                and password=#{password}
            </if>

            <if test=" roleId !=null and roleId !='' ">
                and roleId=#{roleId}
            </if>

            <if test=" email !=null and email !='' ">
                and email=#{email}
            </if>

            <if test=" isActive !=null and isActive !='' ">
                and isActive=#{isActive}
            </if>

            <if test=" address !=null and address !='' ">
                and address=#{address}
            </if>

            <if test=" headPicture !=null and headPicture !='' ">
                and headPicture=#{headPicture}
            </if>
        </where>

    </select>

    <select id="getAllUserById" parameterType="User" resultType="User">
        select * from users where id=#{id}
    </select>


    <insert parameterType="User" id="addUser">

        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test=" userName !=null and userName !='' ">
                userName,
            </if>

            <if test=" password !=null and password !='' ">
                password,
            </if>

            <if test=" roleId !=null and roleId !='' ">
                roleId,
            </if>

            <if test=" email !=null and email !='' ">
                email,
            </if>

            <if test=" isActive !=null and isActive !='' ">
                isActive,
            </if>

            <if test=" address !=null and address !='' ">
                address,
            </if>

            <if test=" headPicture !=null and headPicture !='' ">
                headPicture,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test=" userName !=null and userName !='' ">
                #{userName},
            </if>

            <if test=" password !=null and password !='' ">
                #{password},
            </if>

            <if test=" roleId !=null and roleId !='' ">
                #{roleId},
            </if>

            <if test=" email !=null and email !='' ">
                #{email},
            </if>

            <if test=" isActive !=null and isActive !='' ">
                #{isActive},
            </if>

            <if test=" address !=null and address !='' ">
                #{address},
            </if>

            <if test=" headPicture !=null and headPicture !='' ">
                #{headPicture},
            </if>
        </trim>
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>

    </insert>


    <update parameterType="User" id="updateUser">
        update users set

        <trim suffixOverrides=",">
            <if test=" id !=null and id !='' ">
                id=#{id},
            </if>

            <if test=" userName !=null and userName !='' ">
                userName=#{userName},
            </if>

            <if test=" password !=null and password !='' ">
                password=#{password},
            </if>

            <if test=" roleId !=null and roleId !='' ">
                roleId=#{roleId},
            </if>

            <if test=" email !=null and email !='' ">
                email=#{email},
            </if>

            <if test=" isActive !=null and isActive !='' ">
                isActive=#{isActive},
            </if>

            <if test=" address !=null and address !='' ">
                address=#{address},
            </if>

            <if test=" headPicture !=null and headPicture !='' ">
                headPicture=#{headPicture},
            </if>

        </trim>
        where id=#{id}

    </update>

    <delete id="deleteUser" parameterType="int">

        delete from users where id=#{id}

    </delete>



    <!--    <select id="queryById" resultType="BookInfo">-->
    <!--        select * from book_info where bookId=#{xxx};-->
    <!--    </select>-->

    <!--    <insert id="addBook">-->
    <!--        insert into book_info values(null ,#{bookCode},#{bookName},#{bookType.id},#{bookAuthor},#{publishPress},#{publishDate},#{isBorrow})-->
    <!--    </insert>-->

    <!--    <delete id="deleteById">-->
    <!--        delete from book_info where bookId=#{xxx}-->
    <!--    </delete>-->

    <!--    <update id="updateById">-->
    <!--        UPDATE `book_info` SET bookCode=#{bookCode},bookName=#{bookName},bookType=#{bookType.id},bookAuthor=#{bookAuthor},publishPress=#{publishPress},publishDate=#{publishDate},isBorrow=#{isBorrow} WHERE `bookId`=#{bookId}-->
    <!--    </update>-->
</mapper>
